.section {
    width: 100%;
    margin-left: -15px;
    padding: 2px;
    padding-left: 15px;
    padding-right: 15px;
    background: #ffffff;
}

.title-price {
    margin-top: 30px;
    margin-bottom: 0px;
    color: black;
}

.title-attr {
    margin-top: 0px;
    margin-bottom: 0px;
    color: black;
}

/* .title-attr small {
    width: 70%;
    height: 25px;
    white-space: nowrap;
} */

div.section>div {
    width: 100%;
    display: inline-flex;
}

div.section>div>input {
    margin: 0px;
    padding-left: 5px;
    font-size: 10px;
    padding-right: 5px;
    max-width: 18%;
    text-align: center;
}

.attr,
.attr2 {
    cursor: pointer;
    margin-right: 5px;
    height: 20px;
    font-size: 12px;
    padding: 2px;
    border: 1px solid gray;
    border-radius: 2px;
}

.attr.active,
.attr2.active {
    border: 1px solid orange;
}

@media (max-width: 524px) {
    .product-detail-container {
        margin-top: 30px;
        padding-top: 5%;
    }

    .product-detail-container>.row {
        padding: 20px !important;
    }

    .container>.row>.col-md-6 {
        margin-top: 20px;
    }

    .section {
        width: 104%;
    }

    .menu-items {
        padding-left: 0px;
    }
}

#product-detail-container {
    margin-top: 8rem;
}


.old-price {
    display: inline-block;
    opacity: 0.7;
    text-decoration: line-through;
    font-size: 25px;
    height: 100%;
}

.new-price {
    display: inline-block;
    margin: 0 1rem;
    font-weight: 700;
    font-size: 30px;
}

.discount {
    display: inline-block;
    font-size: 25px;
    font-weight: 600;
    color: rgb(209, 71, 71);
    height: 100%;
}

.product-images {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main-image img {
    max-width: 100%;
    height: 100%;
    object-fit: contain;
}

.thumbnail-images {
    display: center;
    justify-content: center;
    margin-top: 10px;
    flex-wrap: wrap;
    align-items: center;
}

.thumbnail-images img {
    max-width: 60px;
    height: auto;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    opacity: 0.7;
}

.thumbnail-images img.active {
    opacity: 1;

}

/* .selected {
    border: 2px solid rgba(255, 128, 0, 0.833);
} */

.detail-button {
    border: none;
    background-color: transparent;
    font-weight: bold;
    font-size: 1.2em;
    cursor: pointer;
    outline: none;
    padding-left: 20px;
}

.quantity {
    display: flex;
    align-items: center;
    font-size: 12px;
    width: 70%;
    height: 45px;
    position: relative;
}

.buy-now-btn {
    height: 50px;
    font-size: 15px;
    border: 2px solid rgb(255, 85, 0);
    background-color: rgb(255, 255, 255);
    padding: 0.7rem;
    margin-left: 0px;
    color: rgb(255, 85, 0);
}

/* .buy-now-btn:active {
    text-decoration: none;
    border-radius: 0%;

} */

.add-to-cart-btn {
    height: 50px;
    font-size: 15px;
    border: 0px solid rgb(255, 255, 255);
    background-color: rgb(255, 85, 0);
    padding: 0.6rem;
    margin-left: 0px;
    color: #fff
}

.product-skeleton {
    margin-top: 8rem;
    width: 100%;
    height: 500px;
    animation: blink 1s infinite;
}

.product-skeleton .row {
    width: 100%;
}

.product-skeleton-img {
    width: 100%;
    background-color: #ccc;
    border-radius: 8px;
}

.product-skeleton-title .title {
    height: 48px;
    width: 100%;
    background-color: #ccc;
    border-radius: 8px;
}

.product-skeleton-title .title1 {
    height: 24px;
    width: 50%;
    background-color: #ccc;
    border-radius: 8px;
    margin-top: 15px;
}

.product-skeleton-title .price {
    height: 36px;
    width: 85%;
    background-color: #ccc;
    border-radius: 8px;
    margin-top: 15px;
}

.product-skeleton-title .section1 {
    height: 60px;
    width: 30%;
    background-color: #ccc;
    border-radius: 8px;
    margin-top: 15px;

}

.product-skeleton-title .title2 {
    height: 120px;
    width: 90%;
    background-color: #ccc;
    border-radius: 8px;
    margin-top: 15px;
}


@keyframes blink {
    50% {
        opacity: 0.5;
    }
}