.product-item{
    text-align: center;
    height: 200 px;
    width: 100% ;
}

.product{
    width: 100%;
}

.category{
    text-align: center;
    left: -5px;
    top: 1.6rem;
    background-color:white;
    color: black;
    font-size: 15px;
    text-transform: capitalize;
    padding: 0.2rem 1rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    text-decoration: none;
    margin-bottom: 8px;
    font-weight: 500;
}

.title{
    font-size: 15.5px;
    font-weight: 600;
    letter-spacing: 0.3px;
    color: rgb(0, 0, 0);
}

.old-price{
    display: inline-block;
    opacity: 0.7;
    text-decoration: line-through;
    font-size: 13px;
    height: 100%;
}
.new-price{
    display: inline-block;
    margin: 0 1rem;
    font-weight: 700;
    font-size: 16px;
}
.discount{
    display: inline-block;
    font-size: 13px;
    font-weight: 600;
    color: red;
    height: 100%;
}

