.navbar-nav li {
    border: #05b9aa solid 1px  ;
    border-radius: 5px;
    text-align: center;
   
    height: 36px;
    font-size: 13px;
    line-height: 24px;
}

.main-content {
    margin-top: 80px;
   
}
.header-navbar{
  height: 40px;
}
.container-header{
    height: 80px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;

}

.logo {
    color: #2f73f1;
}
.search {
    height: 40px;
}
.btn-search{
    height: 40px ;
}
.user-nav {
    text-decoration: none !important;
    width: 120px ;
    height: 40px;
    font-size: 20px;
    color: rgb(117, 117, 126);
}
.user-nav:hover   {
    cursor: pointer;
    border-radius: 8px;
    background-color: rgba(39, 39, 42, 0.12);
    color :#2f73f1
}
.user-nav:hover .user-nav-content{
    color :#2f73f1
}
.user-nav:hover .user-nav-content-home{
    color :#2f73f1
}
.user-nav-content-home {
    font-size: 14px ;
    text-decoration: none ;
    color: rgb(117, 117, 126);
}
.user-nav-content {
    font-size: 14px ;
    text-decoration: none ;
    color: rgb(117, 117, 126);
    background-color: #fff;
    background-color: transparent;
}


.cart-nav{
    font-size: 20px;
    height: 100%;
    position: relative;
    color: rgb(117, 117, 126);
}
.cart-nav:hover{
    cursor: pointer;
    border-radius: 8px;
    background-color: rgba(39, 39, 42, 0.12);
    
}
.cart-nav:hover .cart-modal {
    opacity: 1;
    visibility: visible;
}
.cart-nav::before{
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid rgb(221, 221, 227);
    left: 0px;
    top: 8px;
}

.form-control:focus {
    box-shadow: none !important ; 
    border-color: none !important ; 
  }
 
.btn-nav{
    width: 92px;
    position: relative;
    background-color: white;
    text-decoration: none;
}
.btn-nav::before {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid rgb(221, 221, 227);
    height: 24px;
    left: 0px;
    top: 8px;
}


.btn-nav:hover {
    background-color: rgba(10, 104, 255, 0.2);

}

.nav-category{
  font-size: 13px;
  color: rgb(128, 128, 137);

}

@media (max-width: 768px) {
    .user-nav{
        width: 40px;
    }
   
  }