/* .user-nav{
    background-color: white;
    width: 150px;
    box-shadow: rgba(100, 100, 111, 0.25) 0px 7px 29px 0px;
    padding: 1.8rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    visibility:visible;
    opacity: 0;
    transition: all 300ms ease-in-out;
    z-index: 99;
    height: 100px;
    overflow-y: scroll;
}

.user-nav-item {

}
.logOut{

} */

