.slider-item{
    max-height: 300px;
    display: flex !important;
    justify-content:end !important;
}
.slider-content{
    overflow-y: hidden;
}

.slider-item h1 {
    font-size: 45px;
    line-height: 55px;
    margin: 50px 0 20px 0;
  }
  .slider-item p {
    margin: 20px 0;
  }
  .slider-item-img {
    display: block;
  }
.slider-item-content{
display: block;

}